:host {
	nav {
		position: relative;

		display: grid;
		grid-template-rows: auto 1fr;

		z-index: 2;

		min-width: 30rem;
		width: 30rem;
		height: 100vh;

		border-bottom-left-radius: 6rem;

		.highlighter {
			position: absolute;
			top: 14rem;
			left: 0;
			z-index: 1;
		}

		.logo {
			justify-self: center;

			width: 100%;

			margin-bottom: 6rem;

			font-size: 7.2rem;
			font-weight: 700;

			text-align: center;
		}

		ul {
			z-index: 2;

			display: flex;
			flex-direction: column;
			justify-content: space-between;

			padding-bottom: 4rem;

			li {
				display: grid;
				grid-template-columns: auto 1fr;
				justify-content: flex-start;
				align-items: center;

				height: 6rem;

				margin-bottom: 4rem;
				padding-right: 6rem;

				font-size: 3.6rem;
				font-weight: 300;

				cursor: pointer;

				&.active {

					svg-icon,
					span {
						color: cornflowerblue;
					}
				}

				svg-icon {
					font-size: 3.6rem;
				}

				span {
					margin-right: 1rem;
				}
			}
		}
	}
}
