<nav class="bg-primary text-default-05">
	<a class="logo text-default-05" href="/">لوگو</a>
	<ul>
		<div class="top">
			<li class="btn active">
				<svg-icon key="nodes"></svg-icon>
				<span>گراف</span>
			</li>
			<li class="btn">
				<svg-icon key="settings"></svg-icon>
				<span>تنظیمات</span>
			</li>
		</div>
		<div class="bottom">
			<li class="btn">
				<svg-icon key="logout"></svg-icon>
				<span>خروج</span>
			</li>
		</div>
	</ul>
	<img class="highlighter" src="../../../assets/svg/nav-highligher.svg" />
</nav>
