:host {
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
	align-items: center;

	graph-tab {
		margin-left: 1rem;

		cursor: pointer;
	}

	.icon {
		display: inline-flex;
		justify-content: center;
		align-items: center;

		width: 3rem;
		height: 3rem;

		margin-right: 1rem;

		border-radius: 100%;

		cursor: pointer;

		svg-icon {
			font-size: 1.2rem;
		}
	}
}
