<graph-tab *ngFor="let tab of tabs; let index = index;" [label]="tab" [index]="index" [isActive]="index === activeTab"
	(onClosedCallback)="deleteTab($event)" (onClickedCallback)="tabChange($event)"
	(onChangeNameCallback)="onChangeName($event)">
</graph-tab>
<span class="icon add" [ngStyle]="addStyle()" (mouseover)="addHovered = true" (mouseleave)="addHovered = false"
	(click)="clickedOnAddTab()">
	<svg-icon key="plus"></svg-icon>
</span>

<div class="settings" [ngStyle]="settingsStyle()" (mouseover)="settingsHovered = true"
	(mouseleave)="settingsHovered = false">
	<span class="body" (click)="tabChange({index: -1})">
		<span class="label">تنظیمات</span>
	</span>
</div>
