:host {
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
	align-items: center;

	>* {
		cursor: pointer;
	}

	graph-tab {
		margin-left: 1rem;
	}

	.icon {
		display: inline-flex;
		justify-content: center;
		align-items: center;

		width: 3rem;
		height: 3rem;

		margin-right: 1rem;

		border-radius: 100%;

		svg-icon {
			font-size: 1.2rem;
		}
	}

	.left {
		display: flex;
		flex-direction: row;
		justify-content: flex-start;
		align-items: center;

		margin-right: auto;

		.tab {
			display: flex;
			flex-direction: row;
			justify-content: center;
			align-items: center;

			min-width: 10rem;

			padding: 0.5rem 1rem;

			border-radius: 0.5rem;

			font-size: 1.4rem;
			text-align: center;

			&.settings {
				margin-left: 1rem;
			}
		}
	}
}
