<form #searchForm="ngForm" (ngSubmit)="clickedOnSearchButton(searchForm.value)">
	<div class="item right">
		<label [ngStyle]="theme.label" for="transaction-amount-floor-input">از مبلغ</label>
		<input [ngStyle]="theme.light" ngModel name="amountFloor" id="transaction-amount-floor-input" type="number"
			placeholder="مثال: 100000000">
	</div>

	<div class="item left">
		<label [ngStyle]="theme.label" for="transaction-amount-ceiling-input">تا مبلغ</label>
		<input [ngStyle]="theme.light" ngModel name="amountCeiling" id="transaction-amount-ceiling-input" type="number"
			placeholder="مثال: 999999999">
	</div>

	<div class="item right">
		<label [ngStyle]="theme.label" for="transaction-date-floor-input">از تاریخ</label>
		<input [ngStyle]="theme.light" ngModel name="dateFloor" id="transaction-date-floor-input" type="date"
			placeholder="مثال: 1390-12-30">
	</div>

	<div class="item left">
		<label [ngStyle]="theme.label" for="transaction-date-ceiling-input">تا تاریخ</label>
		<input [ngStyle]="theme.light" ngModel name="dateCeiling" id="transaction-date-ceiling-input" type="date"
			placeholder="مثال: 1399-12-30">
	</div>

	<div class="item right">
		<label [ngStyle]="theme.label" for="transaction-id-input">شناسه</label>
		<input [ngStyle]="theme.light" ngModel name="transactionId" id="transaction-id-input" type="text"
			placeholder="مثال: 153348811341">
	</div>

	<div class="item left">
		<label [ngStyle]="theme.label" for="transaction-type-input">نوع</label>
		<input [ngStyle]="theme.light" ngModel name="transactionType" id="transaction-type-input" type="text"
			placeholder="مثال: پایا">
	</div>

	<button [ngStyle]="theme.primary" type="submit">بسط دادن گراف</button>
</form>
