:host {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;

	height: 100vh;

	.container {
		position: relative;

		width: 80rem;
		max-width: 100%;
		min-height: 48rem;

		border-radius: 1rem;

		overflow: hidden;

		.title {
			font-size: 2.4rem;
			font-weight: 700;
		}

		button {
			min-width: 16rem;

			padding: 1rem 2rem;

			border-radius: 2rem;

			font-size: 1.4rem;
			font-weight: 700;

			transition: transform 0.1s ease-in;

			cursor: pointer;

			&:active {
				transform: scale(0.95);
			}
		}

		.form-container {
			position: absolute;
			top: 0;

			height: 100%;

			transition: all 0.5s ease-in-out;

			&.admin {
				right: 0;
				z-index: 2;

				width: 50%;
			}

			&.employee {
				right: 0;
				z-index: 1;

				opacity: 0;

				width: 50%;
			}

			form {
				display: flex;
				flex-direction: column;
				justify-content: center;
				align-items: center;

				height: 100%;

				padding: 0 5rem;

				text-align: center;

				.title {
					margin-bottom: 2rem;
				}

				input {
					width: 100%;

					margin: 1rem 0;
					padding: 1rem 2rem;

					border-radius: 2rem;
				}

				button {
					margin-top: 1rem;
				}
			}
		}

		.overlay-container {
			position: absolute;
			top: 0;
			right: 50%;
			z-index: 100;

			width: 50%;
			height: 100%;

			overflow: hidden;

			transition: transform 0.5s ease-in-out;

			.overlay {
				position: relative;
				right: -100%;

				transform: translateX(0);

				width: 200%;
				height: 100%;

				transition: transform 0.5s ease-in-out;

				.panel {
					position: absolute;
					top: 0;

					transform: translateX(0);

					display: flex;
					flex-direction: column;
					justify-content: center;
					align-items: center;

					width: 50%;
					height: 100%;

					padding: 0 4rem;

					text-align: center;

					transition: transform 0.5s ease-in-out;

					&.right {
						transform: translateX(20%);
					}

					&.left {
						left: 0;

						transform: translateX(0);
					}

					p {
						margin: 2rem 0 3rem;

						font-size: 1.4rem;
						font-weight: 100;

						line-height: 2rem;
						letter-spacing: 0.5px;
					}
				}
			}
		}

		&.right-panel-active {
			.form-container {
				&.employee {
					z-index: 5;

					transform: translateX(-100%);
					opacity: 1;

					animation: animation-show 0.5s;
				}

				&.admin {
					transform: translateX(-100%);
				}
			}

			.overlay-container {
				transform: translateX(100%);

				.overlay {
					transform: translateX(-50%);

					.panel {
						&.right {
							transform: translateX(0);
						}

						&.left {
							transform: translateX(-20%);
						}
					}
				}
			}
		}
	}
}

@keyframes animation-show {

	0%,
	49.99% {
		opacity: 0;
		z-index: 1;
	}

	50%,
	100% {
		opacity: 1;
		z-index: 5;
	}
}
