<div [class]="'container ' + (show === 0 ? 'closed' : '')">
	<div class="overlay" [@overlayState]="overlayStateStatus">
		<round-button btnClass="btn-fade" icon="cross" iconSize="6" (callback)="close()"></round-button>
	</div>

	<div class='modal bg-default' [@modalState]="modalStateStatus">
		<div class="head bg-primary text-default-complement">
			<span (click)="back()">
				<svg-icon *ngIf="show > 1" key="arrowBack"></svg-icon>
			</span>
			<div>{{title}}</div>
		</div>
		<div class="body">
			<search-nodes-form *ngIf="show === 1" (callback)="clickedOnSearchButton($event)">
			</search-nodes-form>
			<search-nodes-result *ngIf="show === 2" [results]="results" (callback)="clickedOnDetailsButton($event)">
			</search-nodes-result>
			<search-nodes-details *ngIf="show === 3" [node]="results[0]"></search-nodes-details>
		</div>
	</div>
</div>
