<app-snackbar #snackbar class="error"></app-snackbar>

<div [class]="'container ' + (show === 0 ? 'closed' : '')">
	<div class="overlay" [@overlayState]="overlayStateStatus" (click)="close()">
		<round-button btnClass="btn-fade" icon="cross" iconSize="6"></round-button>
	</div>

	<div class='modal bg-default' [@modalState]="modalStateStatus">
		<div class="head bg-primary text-default-complement">
			<span (click)="back()">
				<svg-icon *ngIf="show > 1 && searching" key="arrowBack"></svg-icon>
			</span>
			<div>{{title}}</div>
		</div>
		<div class="body">
			<search-edges-form *ngIf="show === 1" [snackbar]="snackbar" (callback)="clickedOnSearchButton($event)">
			</search-edges-form>
		</div>
	</div>
</div>
