<div class="table">
	<div class="row header" [ngStyle]="theme.primary">
		<div class="cell">نمونه</div>
		<div class="cell">پس‌زمینه</div>
		<div class="cell">نوشته</div>
	</div>
	<div *ngFor="let item of items; index as i" class="row" [ngStyle]="rowStyle(i)" (mouseover)="hoveredRowIndex = i"
		(mouseleave)="hoveredRowIndex = -1">
		<div class="cell" [ngStyle]="theme[item.name]">{{item.title}}</div>
		<div class="cell">
			<input type="color" [value]="theme[item.name].background" (input)="changedColor($event, true, i)">
		</div>
		<div class="cell">
			<input type="color" [value]="theme[item.name].color" (input)="changedColor($event, false, i)">
		</div>
	</div>
</div>

<!-- <table>
	<td class="column">
		<tr>
			نوع رنگ
		</tr>
		<tr>
			<button id="default">default</button>
		</tr>
		<tr>
			<button id="primary">primary</button>
		</tr>
		<tr>
			<button id="secondary">secondary</button>
		</tr>
		<tr>
			<button id="success">success</button>
		</tr>
		<tr>
			<button id="danger">danger</button>
		</tr>
		<tr>
			<button id="warning">warning</button>
		</tr>
		<tr>
			<button id="info">info</button>
		</tr>
		<tr>
			<button id="light">light</button>
		</tr>
		<tr>
			<button id="dark">dark</button>
		</tr>
		<tr>
			<button id="label">label</button>
		</tr>
		<tr>
			<button id="disabled">disabled</button>
		</tr>
	</td>
	<td class="column">
		<tr>
			background color
		</tr>
		<tr>
			<input #defaultBack type="color" id="background-default" (change)="changeBackground(defaultBack)">
		</tr>
		<tr>
			<input #primaryBack type="color" id="background-primary" (change)="changeBackground(primaryBack)">
		</tr>
		<tr>
			<input #secondaryBack type="color" id="background-secondary" (change)="changeBackground(secondaryBack)">
		</tr>
		<tr>
			<input #successBack type="color" id="background-success" (change)="changeBackground(successBack)">
		</tr>
		<tr>
			<input #dangerBack type="color" id="background-danger" (change)="changeBackground(dangerBack)">
		</tr>
		<tr>
			<input #warningBack type="color" id="background-warning" (change)="changeBackground(warningBack)">
		</tr>
		<tr>
			<input #infoBack type="color" id="background-info" (change)="changeBackground(infoBack)">
		</tr>
		<tr>
			<input #lightBack type="color" id="background-light" (change)="changeBackground(lightBack)">
		</tr>
		<tr>
			<input #darkBack type="color" id="background-dark" (change)="changeBackground(darkBack)">
		</tr>
		<tr>
			<input #labelBack type="color" id="background-label" (change)="changeBackground(labelBack)">
		</tr>
		<tr>
			<input #disabledBack type="color" id="background-disabled" (change)="changeBackground(disabledBack)">
		</tr>
	</td>
	<td class="column">
		<tr>
			foreground color
		</tr>

		<tr>
			<input #defaultFore type="color" id="foreground-default" (change)="changeForeground(defaultFore)">
		</tr>
		<tr>
			<input #primaryFore type="color" id="foreground-primary" (change)="changeForeground(primaryFore)">
		</tr>
		<tr>
			<input #secondaryFore type="color" id="foreground-secondary" (change)="changeForeground(secondaryFore)">
		</tr>
		<tr>
			<input #successFore type="color" id="foreground-success" (change)="changeForeground(successFore)">
		</tr>
		<tr>
			<input #dangerFore type="color" id="foreground-danger" (change)="changeForeground(dangerFore)">
		</tr>
		<tr>
			<input #warningFore type="color" id="foreground-warning" (change)="changeForeground(warningFore)">
		</tr>
		<tr>
			<input #infoFore type="color" id="foreground-info" (change)="changeForeground(infoFore)">
		</tr>
		<tr>
			<input #lightFore type="color" id="foreground-light" (change)="changeForeground(lightFore)">
		</tr>
		<tr>
			<input #darkFore type="color" id="foreground-dark" (change)="changeForeground(darkFore)">
		</tr>
		<tr>
			<input #labelFore type="color" id="foreground-label" (change)="changeForeground(labelFore)">
		</tr>
		<tr>
			<input #disabledFore type="color" id="foreground-disabled" (change)="changeForeground(disabledFore)">
		</tr>
	</td>
	<td>
		<tr>

		</tr>
		<tr>
			<button id="confirm" (click)="showColors()">تایید تنظیمات</button>
		</tr>
	</td>
</table> -->
