.icons {
	display: flex;
	align-items: center;
}

.tab {
	display: inline-block;

	lable {
		display: flex;
	}

	border: 2px solid black;


}

.active {
	background-color: aqua;
}
