<div>
	<ul>
		<li>
			<span class="label">نام شعبه </span>
			<div class="value">{{node.branchName}}</div>
		</li>
		<li>
			<span class="label">شماره تلفن شعبه</span>
			<div class="value">{{node.branchTelephone}}</div>
		</li>
		<li>
			<span class="label"> شناسه صاحب حساب</span>
			<div class="value">{{node.ownerId}}</div>
		</li>
		<li>
			<span class="label"> نام صاحب حساب</span>
			<div class="value">{{node.ownerName}} {{node.ownerFamilyName}}</div>
		</li>
		<li>
			<span class="label"> نوع حساب</span>
			<div class="value">{{node.accountType}}</div>
		</li>
		<li>
			<span class="label"> شماره کارت</span>
			<div class="value">{{node.cardId}}</div>
		</li>
		<li>
			<span class="label"> شماره شبا</span>
			<div class="value">{{node.sheba}}</div>
		</li>
		<li>
			<span class="label"> آدرس شعبه</span>
			<div class="value">{{node.branchAddress}}</div>
		</li>
	</ul>
</div>
