@import "../../../styles/config";
@import "../../../styles/math";

:host {
	background-color: gray;

	$pi: 3.14;

	$menu-items: 6+1;
	$open-distance: 6rem;
	$opening-angle: $pi*2;

	%goo {
		filter: url('#goo');
	}

	%ball {
		background: $color_orange_supernova;
		color: $color_white;

		position: absolute;
		top: 2rem;

		transform: translate3d(0, 0, 0);

		width: 4rem;
		height: 4rem;

		border-radius: 100%;

		text-align: center;
		line-height: 8rem;

		transition: transform ease-out 200ms;
	}

	#menu {
		@extend %goo;
		$width: 38rem;
		$height: 25rem;

		position: absolute;

		display: none;

		width: $width;
		height: $height;

		margin-left: -$width/2;
		padding-top: 2rem;
		padding-left: $width/2;

		font-size: 2rem;

		text-align: left;

		.menu-item {
			@extend %ball;

			@for $i from 1 through $menu-items {
				&:nth-child(#{$i}) {
					transition-duration: 180ms;
				}
			}

			&:hover {
				background: $color_white;
				color: $color_orange_supernova;
			}
		}

		&.open {
			display: block;

			.menu-item {
				transition-timing-function: cubic-bezier(0.935, 0.000, 0.340, 1.330);

				@for $i from 1 through $menu-items {
					$angle: (($pi - $opening-angle)/2)+(($opening-angle/($menu-items - 1))*($i - 1));

					&:nth-child(#{$i}) {
						transform: translate3d(cos($angle)*$open-distance, sin($angle)*$open-distance, 0);

						transition-duration: 1000ms+(100ms*$i);
					}
				}

				svg-icon {
					position: absolute;

					top: -1.7rem;
					left: 1.2rem;
				}
			}
		}
	}

	.filters {
		display: none;
	}
}
