@import "../../../styles/config";
@import "../../../styles/math";

:host {
	$pi: 3.14;

	$menu-items: 6+1;
	$open-distance: 10rem;
	$opening-angle: $pi*2;

	%goo {
		filter: url('#goo');
	}

	%ball {
		position: absolute;

		transform: translate(0, -100%);

		width: 8rem;
		height: 8rem;

		border-radius: 100%;

		transition: transform 0.2s ease-out;

		cursor: pointer;
	}

	#menu {
		@extend %goo;

		position: absolute;
		z-index: -1;

		width: 100%;
		height: 100%;

		font-size: 2rem;
		text-align: left;

		transition: z-index 0.2s ease-in-out;

		.menu-item {
			@extend %ball;

			@for $i from 1 through $menu-items {
				&:nth-child(#{$i}) {
					transition-duration: 0.2s;
				}
			}

			display: inline-flex;
			justify-content: center;
			align-items: center;

			svg-icon {
				font-size: 3.2rem;
			}
		}

		&.open {
			z-index: 3;

			transition-duration: 0s;

			.menu-item {
				transition-timing-function: cubic-bezier(0.935, 0.000, 0.340, 1.330);

				@for $i from 1 through $menu-items {
					$angle: (($pi - $opening-angle)/2)+(($opening-angle/($menu-items - 1))*($i - 1));

					&:nth-child(#{$i}) {
						transform: translate(cos($angle)*$open-distance, sin($angle)*$open-distance - 8rem);

						transition-duration: 0.7s+(0.1s*$i);
					}
				}
			}
		}
	}

	.filters {
		display: none;
	}
}
