@import "../../../styles/config";

:host {
	display: flex;
	align-items: flex-start;

	search-nodes-modal {
		z-index: 9;
	}

	radial-node-menu {
		z-index: 8;
	}

	nav {
		display: grid;
		grid-template-rows: auto 1fr;

		z-index: 2;

		width: 30rem;
		height: 100vh;

		border-bottom-left-radius: 6rem;

		.logo {
			justify-self: center;

			width: 100%;

			margin-bottom: 6rem;

			font-size: 7.2rem;
			font-weight: 700;

			text-align: center;
		}

		ul {
			display: flex;
			flex-direction: column;
			justify-content: space-between;

			padding-bottom: 4rem;

			li {
				display: grid;
				grid-template-columns: auto 1fr;
				justify-content: flex-start;
				align-items: center;

				height: 6rem;

				margin-bottom: 4rem;
				padding-right: 4rem;

				font-size: 3.6rem;
				font-weight: 300;

				cursor: pointer;

				svg-icon {
					font-size: 3.6rem;
				}

				span {
					margin-right: 1rem;
				}
			}
		}
	}

	main {
		position: relative;
		z-index: 1;

		width: 100%;
		height: 100vh;

		round-button {
			position: fixed;
			top: 4rem;
			left: 4rem;
			z-index: 2;
		}

		#ogma-container {
			position: fixed;
			top: 0;
			left: 0;
			z-index: 1;

			width: 100%;
			height: 100%;

			div {
				background-color: $color_white;
			}
		}
	}

	.dev-tools {
		position: fixed;
		left: 0;
		bottom: 0;
		z-index: 3;
		direction: ltr;

		padding: 2rem;

		border-radius: 0 2rem 0 0;

		font-size: 1.8rem;

		.title {
			font-size: 2.4rem;
			font-weight: 700;
		}

		&>div {
			margin-top: 2rem;
		}

		.label {
			font-weight: 300;
		}

		.value {}

		.nodes-count {}

		.add-node {
			button {
				background-color: #f2f2f2;

				width: 100%;

				padding: 1rem 2rem;

				border-radius: 2rem;

				font-weight: 700;

				&:hover {
					background-color: white;
				}
			}
		}

		.layouts {
			.value {
				margin-left: 1rem;

				input {
					border: none;
					outline: none;
				}

				label {
					margin-left: 0.5rem;
				}
			}
		}
	}
}
