<app-snackbar #snackbar class="error"></app-snackbar>

<graph-modal #nodesModal [snackbar]="snackbar" (callback)="clickedOnAddNodeButton($event)">
</graph-modal>
<radial-node-menu #radialComponent [snackbar]="snackbar" (expandCallback)="clickedOnExpandButton($event)">
</radial-node-menu>

<graph-tooltip *ngIf="hoveredContent" [content]="hoveredContent" [position]="hoveredPosition">
</graph-tooltip>

<div #findPathMenu *ngIf="ogmaService.getSourceNode() && ogmaService.getTargetNode()"
	class="find-path btn btn-primary closed" (click)="toggleFindPathMenu($event)">
	<span class="title">محاسبه مسیر</span>
	<div class="form-container" (click)="stopPropagation($event)">
		<div class="form">
			<span class="label">حداکثر طول:</span>
			<input #pathMaxLength type="number" min="1" max="5" value="1">
		</div>
		<div class="btn btn-primary-reverse" (click)="clickedOnFindPathButton($event)">پردازش</div>
	</div>
</div>

<navigation></navigation>

<main>
	<round-button btnClass="btn-secondary" icon="search" iconSize="6" (callback)="clickedOnSearchNodesButton($event)">
	</round-button>
	<div #ogmaContainer id="ogma-container" onclick="event.stopPropagation()"></div>
</main>

<div *ngIf="devTools" class="dev-tools bg-primary text-default-complement">
	<span class="title">DevTools</span>

	<div class="nodes-count">
		<span class="label text-default-10">Nodes Count: </span>
		<span class="value">{{countNodes()}}</span>
	</div>
	<div class="buttons">
		<button class="btn text-primary" (click)="addNode()">Add a node</button>
		<button class="btn text-primary" (click)="toggleEdgeContentType()">Edges Content Type</button>
	</div>
	<div class="layouts">
		<span class="label text-default-10">Layouts</span>
		<div class="value">
			<div *ngFor="let layout of layouts">
				<input [id]="layout" type="radio" name="layout" [(ngModel)]="currentLayout" [value]="layout"
					(change)="runLayout()" />
				<label [attr.for]="layout">{{layout | titlecase}}</label>
			</div>
		</div>
	</div>
</div>
