@import "../../../styles/config";

:host {
	display: flex;
	align-items: flex-start;

	search-nodes-modal {
		z-index: 9;
	}

	radial-node-menu {
		z-index: 8;
	}

	node-tooltip,
	edge-tooltip {
		z-index: 7;

		pointer-events: none;
	}

	.find-path {
		position: fixed;
		left: 0;
		right: 0;
		top: 0;
		z-index: 6;

		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;

		margin: auto;
		padding: 1rem 2rem 2rem;

		min-width: 20rem;
		width: fit-content;

		border-radius: 0 0 2rem 2rem;

		&.closed {
			padding: 0 2rem 1rem;

			*:not(.title) {
				display: none;
			}
		}

		.title {
			font-size: 2.4rem;
			font-weight: 700;
		}

		.form {
			display: flex;
			justify-content: space-between;

			width: 100%;

			margin-top: 2rem;

			font-size: 1.8rem;

			.label {}

			input {
				margin-right: 1rem;

				border: none;
				border-radius: 2rem;

				font-size: 1.6rem;
				text-align: center;

				-moz-appearance: textfield;

				&::-webkit-outer-spin-button,
				&::-webkit-inner-spin-button {
					-webkit-appearance: none;
					margin: 0;
				}
			}
		}

		.btn {
			width: 100%;

			margin-top: 2rem;
			padding: 0.5rem 1rem;

			border-radius: 3rem;

			font-size: 1.6rem;
			font-weight: 500;

			text-align: center;
		}
	}

	nav {
		position: relative;

		display: grid;
		grid-template-rows: auto 1fr;

		z-index: 2;

		min-width: 30rem;
		width: 30rem;
		height: 100vh;

		border-bottom-left-radius: 6rem;

		.highlighter {
			position: absolute;
			top: 14rem;
			left: 0;
			z-index: 1;
		}

		.logo {
			justify-self: center;

			width: 100%;

			margin-bottom: 6rem;

			font-size: 7.2rem;
			font-weight: 700;

			text-align: center;
		}

		ul {
			z-index: 2;

			display: flex;
			flex-direction: column;
			justify-content: space-between;

			padding-bottom: 4rem;

			li {
				display: grid;
				grid-template-columns: auto 1fr;
				justify-content: flex-start;
				align-items: center;

				height: 6rem;

				margin-bottom: 4rem;
				padding-right: 6rem;

				font-size: 3.6rem;
				font-weight: 300;

				cursor: pointer;

				&.active {

					svg-icon,
					span {
						color: cornflowerblue;
					}
				}

				svg-icon {
					font-size: 3.6rem;
				}

				span {
					margin-right: 1rem;
				}
			}
		}
	}

	main {
		position: relative;
		z-index: 1;

		width: 100%;
		height: 100vh;

		round-button {
			position: fixed;
			top: 4rem;
			left: 4rem;
			z-index: 2;
		}

		#ogma-container {
			position: fixed;
			top: 0;
			left: 0;
			z-index: 1;

			width: 100%;
			height: 100%;

			div {
				background-color: $color_white;
			}
		}
	}

	.dev-tools {
		position: fixed;
		left: 0;
		bottom: 0;
		z-index: 3;
		direction: ltr;

		padding: 2rem;

		border-radius: 0 2rem 0 0;

		font-size: 1.8rem;

		.title {
			font-size: 2.4rem;
			font-weight: 700;
		}

		&>div {
			margin-top: 2rem;
		}

		.label {
			font-weight: 300;
		}

		.value {}

		.nodes-count {}

		.add-node {
			button {
				background-color: #f2f2f2;

				width: 100%;

				padding: 1rem 2rem;

				border-radius: 2rem;

				font-weight: 700;

				&:hover {
					background-color: white;
				}
			}
		}

		.layouts {
			.value {
				margin-left: 1rem;

				input {
					border: none;
					outline: none;
				}

				label {
					margin-left: 0.5rem;
				}
			}
		}
	}
}
