<form #searchForm="ngForm" (ngSubmit)="clickedOnSearchButton(searchForm.value)">
	<label class="text-default-25" for="search-field-input">جستجو در</label>
	<div class="field-select-wrapper" (click)="fieldSelectOpen = !fieldSelectOpen">
		<div [ngClass]="['select', fieldSelectOpen ? 'open' : '']">
			<div class="trigger" [ngStyle]="theme.light"><span>{{selectedOption.fa}}</span>
				<div class="arrow"></div>
			</div>
			<div class="options">
				<span *ngFor="let option of options" [ngClass]="selectedOption === option ? 'selected' : ''"
					[ngStyle]="selectedOption === option || option.hovered ? theme.primary : theme.light"
					(mouseover)="option.hovered = true" (mouseleave)="option.hovered = false"
					(click)="selectedOption = option; updateMaxLength(option.en)">{{option.fa}}</span>
			</div>
		</div>
	</div>

	<label class="text-default-25" for="search-query-input">عبارت مورد نظر</label>
	<input [ngStyle]="theme.light" ngModel name="query" [maxLength]="maxLength" id="search-query-input" type="text"
		placeholder="لطفاً عبارت مورد جستجو را وارد کنید ..." required>

	<button class="btn" [ngStyle]="actionStyle" type="submit">نمایش اطلاعات</button>
</form>
